BODY {
	MARGIN: 0px; BACKGROUND: #fff; FONT-SIZE: 12px
}
.inputstyle {
	BORDER-BOTTOM: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 2px; WIDTH: 170px; PADDING-RIGHT: 2px; HEIGHT: 20px; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid; PADDING-TOP: 2px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	COLOR: #097fd1
}
A:link {
	COLOR: #097fd1; TEXT-DECORATION: none
}
A:visited {
	COLOR: #097fd1; TEXT-DECORATION: none
}
A:active {
	COLOR: #097fd1; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
A.b:link {
	COLOR: #666; TEXT-DECORATION: none
}
A.b:visited {
	COLOR: #666; TEXT-DECORATION: none
}
A.b:active {
	COLOR: #666; TEXT-DECORATION: none
}
A.b:hover {
	COLOR: #097fd1; TEXT-DECORATION: none
}
#login {
	BORDER-BOTTOM: #99c2ee 1px solid; BORDER-LEFT: #99c2ee 1px solid; PADDING-BOTTOM: 10px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 371px; PADDING-RIGHT: 0px; FLOAT: none; BORDER-TOP: #99c2ee 1px solid; BORDER-RIGHT: #99c2ee 1px solid; PADDING-TOP: 0px
}
#login H4 {
	BORDER-BOTTOM: #438ece 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; HEIGHT: 22px; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 7px
}
#login H4 SPAN {
	PADDING-RIGHT: 5px; FLOAT: right; CURSOR: pointer
}
#login UL {
	PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
#login UL LI {
	PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
#login UL LI SPAN {
	TEXT-ALIGN: right; WIDTH: 110px; PADDING-RIGHT: 5px; FLOAT: left; PADDING-TOP: 5px
}
#login .about {
	MARGIN-LEFT: 115px; CLEAR: both; PADDING-TOP: 3px
}
#login #verifytip {
	COLOR: #808080
}
#login SELECT {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
#login EM {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #f00; PADDING-TOP: 0px
}
#login P {
	PADDING-BOTTOM: 15px; MARGIN: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
#login LABEL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#login .error {
	PADDING-BOTTOM: 30px; LINE-HEIGHT: 20px; MARGIN: 15px 30px; PADDING-LEFT: 65px; PADDING-RIGHT: 0px; PADDING-TOP: 31px
}
.login_button {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: none; PADDING-TOP: 0px
}
.loginbtn {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 68px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 27px; COLOR: #204497; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.btn {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 100px; BACKGROUND: url(log2.gif); BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 33px; COLOR: #2473a2; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; FONT-WEIGHT: bold
}
.loginbtn_g {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 126px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 33px; COLOR: #2473a2; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; FONT-WEIGHT: bold
}
.qlogin_button {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: none; PADDING-TOP: 0px
}
.btnlong {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 125px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 31px; COLOR: #2473a2; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; FONT-WEIGHT: bold
}
.lineright {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; PADDING-TOP: 10px
}
.linecenter {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; PADDING-TOP: 10px
}
.hi_style {
	HEIGHT: 200px
}
.list_name {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 260px; PADDING-TOP: 20px
}
.btn_select {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 100px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 33px; COLOR: #2473a2; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; FONT-WEIGHT: bold
}
#list_uin LI {
	LIST-STYLE-TYPE: none; MARGIN: 0px
}
