<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--定义菜单栏左侧区域功能,请遵循先左后右,先上后下的原则-->
  <leftarea>paragraph</leftarea>
  <!--blank产生一个空格,使功能菜单图标与图标之间产生一个空格-->
  <leftarea>blank</leftarea>
  <leftarea>specialtype</leftarea>
  <leftarea>blank</leftarea>
  <leftarea>symbol</leftarea>
  <!--br产生一个换行符,使功能菜单界面换行-->
  <leftarea>br</leftarea>
  <leftarea>br</leftarea>
  <leftarea>selfont</leftarea>
  <leftarea>blank</leftarea>
  <leftarea>fontsize</leftarea>
  <leftarea>blank</leftarea>
  <leftarea>paper</leftarea>
  <!--定义菜单栏右侧区域功能,此处定义之后的功能图标将转到右侧区域显示-->
  <rightarea>bold</rightarea>
  <rightarea>italic</rightarea>
  <rightarea>underline</rightarea>
  <rightarea>blank</rightarea>
  <rightarea>inserthorizontalrule</rightarea>
  <rightarea>insertfile</rightarea>
  <rightarea>insertimage</rightarea>
  <rightarea>insertmedia</rightarea>
  <rightarea>blank</rightarea>
  <rightarea>sub</rightarea>
  <rightarea>sup</rightarea>
  <rightarea>paste</rightarea>
  <rightarea>pastetext</rightarea>
  <rightarea>pasteword</rightarea>
  <rightarea>font</rightarea>
  <rightarea>bgcolor</rightarea>
  <rightarea>printer</rightarea>
  <rightarea>br</rightarea>
  <rightarea>justifyleft</rightarea>
  <rightarea>justifycenter</rightarea>
  <rightarea>justifyright</rightarea>
  <rightarea>blank</rightarea>
  <rightarea>insertorderedlist</rightarea>
  <rightarea>insertunorderedlist</rightarea>
  <rightarea>outdent</rightarea>
  <rightarea>indent</rightarea>
  <rightarea>blank</rightarea>
  <rightarea>undo</rightarea>
  <rightarea>redo</rightarea>
  <rightarea>delete</rightarea>
  <rightarea>removeformat</rightarea>
  <rightarea>cut</rightarea>
  <rightarea>copy</rightarea>
  <rightarea>search</rightarea>
  <rightarea>excel</rightarea>
  <rightarea>br</rightarea>
  <rightarea>icq</rightarea>
  <rightarea>msn</rightarea>
  <rightarea>qq</rightarea>
  <rightarea>blank</rightarea>
  <rightarea>getpage</rightarea>
  <rightarea>inserttemplate</rightarea>
  <plugin_command>插入网页方框,InsertFieldset,img/fieldset.gif</plugin_command>
  <rightarea>table</rightarea>
  <rightarea>blank</rightarea>
  <rightarea>time</rightarea>
  <rightarea>date</rightarea>
  <rightarea>quote</rightarea>
  <rightarea>code</rightarea>
  <plugin_openwin>插入高亮代码,pasteCode.aspx,img/code2.gif,600,500</plugin_openwin>
  <rightarea>calculator</rightarea>
  <rightarea>createlink</rightarea>
  <rightarea>emot</rightarea>
</configuration>