<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <leftarea>Paragraph</leftarea>
  <leftarea>blank</leftarea>
  <leftarea>specialtype</leftarea>
  <leftarea>br</leftarea>
  <leftarea>selFont</leftarea>
  <leftarea>blank</leftarea>
  <leftarea>fontSize</leftarea>
  <rightarea>justifyleft</rightarea>
  <rightarea>justifycenter</rightarea>
  <rightarea>justifyright</rightarea>
  <rightarea>blank</rightarea>
  <rightarea>insertorderedlist</rightarea>
  <rightarea>insertunorderedlist</rightarea>
  <rightarea>outdent</rightarea>
  <rightarea>indent</rightarea>
  <rightarea>blank</rightarea>
  <rightarea>undo</rightarea>
  <rightarea>redo</rightarea>
  <rightarea>blank</rightarea>
  <rightarea>delete</rightarea>
  <rightarea>cut</rightarea>
  <rightarea>copy</rightarea>
  <rightarea>paste</rightarea>
  <rightarea>qq</rightarea>
  <rightarea>search</rightarea>
  <rightarea>br</rightarea>
  <rightarea>bold</rightarea>
  <rightarea>italic</rightarea>
  <rightarea>underline</rightarea>
  <rightarea>blank</rightarea>
  <rightarea>inserthorizontalrule</rightarea>
  <rightarea>insertimage</rightarea>
  <rightarea>insertmedia</rightarea>
  <rightarea>insertfile</rightarea>
  <rightarea>blank</rightarea>
  <rightarea>font</rightarea>
  <rightarea>bgcolor</rightarea>
  <rightarea>blank</rightarea>
  <rightarea>sup</rightarea>
  <rightarea>sub</rightarea>
  <rightarea>excel</rightarea>
  <rightarea>date</rightarea>
  <rightarea>time</rightarea>
  <rightarea>table</rightarea>
</configuration>