<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--设置上传文件夹的最大可用空间(单位KB)是否起用-->
  <maxAllUploadSize>0</maxAllUploadSize>
  <!--设置上传文件单个的最大尺寸(单位KB)是否起用-->
  <maxSingleUploadSize>0</maxSingleUploadSize>
  <!--设置上传文件是否自动改名是否起用-->
  <autoname>1</autoname>
  <!--设置是否允许上传是否起用 是否起用-->
  <allowUpload>0</allowUpload>
  <!--是否在上传界面启用水印选择的选项on为开启，off为关闭 是否起用-->
  <watermarkOption>0</watermarkOption>
  <!--是否启用上传图片的文字水印 是否起用-->
  <watermark>0</watermark>
  <!--开启文字水印后是否保留原件并新建副本,false为不新建,false以外的字符则新建副本,副本名称以该字符加原文件名命名 是否起用-->
  <watermarkName>1</watermarkName>
  <!--设置水印文字 是否起用-->
  <watermarkText>1</watermarkText>
  <!--是否启用上传图片的图片水印 是否起用-->
  <watermarkImages>0</watermarkImages>
  <!--开启图片水印后是否保留原件并新建副本,false为不新建,false以外的字符则新建副本,副本名称以该字符加原文件名命名 是否起用-->
  <watermarkImagesName>1</watermarkImagesName>
  <!--设置图片水印所在的位置 是否起用-->
  <watermarkImages_path>1</watermarkImages_path>
  <!--是否启用缩略图 是否起用-->
  <smallImages>1</smallImages>
  <!--开启缩略图后是否保留原件并新建副本,false为不新建,false以外的字符则新建副本,副本名称以该字符加原文件名命名 是否起用-->
  <smallImagesName>1</smallImagesName>
  <!--缩略图缩放类型,HW:指定高宽缩放(可能变形)。W:指定宽，高按比例。H:指定高，宽按比例。Cut:指定高宽裁减(不变形) 是否起用-->
  <smallImagesType>1</smallImagesType>
  <!--缩略图宽度 是否起用-->
  <smallImagesW>1</smallImagesW>
  <!--缩略图高度 是否起用-->
  <smallImagesH>1</smallImagesH>
  <!--是否允许删除文件 是否起用-->
  <delete>0</delete>
  <!--是否允许文件重命名 是否起用-->
  <edit>0</edit>
  <!--是否显示文件列表 是否起用 -->
  <fileListBox>1</fileListBox>
  <!--上传文件功能可上传的文件类型 是否起用-->
  <fileFilters>0</fileFilters>
  <!--上传图片功能可上传的文件类型 是否起用-->
  <imagesFilters>0</imagesFilters>
  <!--上传自动播放文件功能可上传的文件类型 是否起用-->
  <mediaFilters>0</mediaFilters>
  <!--上传模板功能可上传的文件类型 是否起用-->
  <templateFilters>0</templateFilters>
</configuration>