BODY {
	MARGIN: 0px
}
BODY TD {
	FONT-SIZE: 12px
}
A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.red {
	COLOR: #f00
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #679810; TEXT-DECORATION: none
}
A:active {
	COLOR: #000; TEXT-DECORATION: none
}
.lpsyf {
	BACKGROUND: url(../images/index_r1_c1.jpg) no-repeat left bottom
}
.nycontent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; PADDING-TOP: 5px
}
.nylist {
	BACKGROUND: url(../images/index_r4_c8.gif) no-repeat left top
}
.boder {
	BORDER-RIGHT: #b9b9b9 1px solid; BORDER-TOP: #b9b9b9 0px solid; BORDER-LEFT: #b9b9b9 1px solid; BORDER-BOTTOM: #b9b9b9 1px solid
}
.boderleft {
	BORDER-LEFT: #bababa 1px solid
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.rollboder {
	
}
.rollleft {
	FLOAT: left; WIDTH: 470px
}
.rollleft STRONG {
	COLOR: #666
}
.rollcenter {
	WIDTH: 30px; TEXT-ALIGN: center
}
.rollright {
	FLOAT: right; WIDTH: 40px; TEXT-ALIGN: center
}
.rollright IMG {
	VERTICAL-ALIGN: middle
}
.leftbg {
	BACKGROUND: url(../images/leftbg.gif) repeat-y left 50%
}
.newsline TD {
	LINE-HEIGHT: 25px; BORDER-BOTTOM: #c9c9c9 1px dashed
}
.newsline TD A:link {
	COLOR: #000
}
.newsline TD A:visited {
	COLOR: #000
}
.newsline TD A:hover {
	COLOR: #000
}
.newsline TD A:active {
	COLOR: #000
}
.introliness {
	PADDING-RIGHT: 4px; OVERFLOW-Y: hidden; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 20px; PADDING-TOP: 4px; HEIGHT: 199px
}
.introlines {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 21px; PADDING-TOP: 4px
}
.introline {
	BORDER-RIGHT: #b9b9b9 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #b9b9b9 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #b9b9b9 1px solid; LINE-HEIGHT: 21px; PADDING-TOP: 4px; BORDER-BOTTOM: #b9b9b9 1px solid
}
.introline A:link {
	COLOR: #000
}
.introline A:visited {
	COLOR: #000
}
.introline A:hover {
	COLOR: #000
}
.introline A:active {
	COLOR: #000
}
#syfz A:link {
	
}
#syfz A:hover {
	COLOR: #f00
}
.syf2 {
	DISPLAY: block; BACKGROUND: url(../images/topmenu.gif) no-repeat center bottom; WIDTH: 100px; CURSOR: hand; HEIGHT: 45px
}
.select  {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 30px; PADDING-TOP: 0px; BACKGROUND-COLOR: #68b2f1
}
.select {
	BORDER-RIGHT: #dfdfdf 0px solid; BORDER-TOP: #dfdfdf 0px solid; DISPLAY: inline; FLOAT: left; BORDER-LEFT: #dfdfdf 0px solid; LINE-HEIGHT: 30px; BORDER-BOTTOM: #dfdfdf 0px solid; BACKGROUND-COLOR: #000000
}
.select DIV {
	BORDER-RIGHT: #dfdfdf 0px solid; BORDER-TOP: #dfdfdf 0px solid; FLOAT: left; BORDER-LEFT: #dfdfdf 0px solid; LINE-HEIGHT: 30px; BORDER-BOTTOM: #dfdfdf 0px solid; BACKGROUND-COLOR: #000000
}
UNKNOWN {
	OVERFLOW: hidden; WIDTH: 130px; HEIGHT: 20px
}
 HTML .select DIV SELECT {
	DISPLAY: block; FLOAT: left; MARGIN: -2px; LINE-HEIGHT: 30px
}
UNKNOWN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: -2px; WIDTH: 130px; LINE-HEIGHT: 30px; PADDING-TOP: 0px
}
.select:hover {
	BORDER-RIGHT: #dfdfdf 0px solid; BORDER-TOP: #dfdfdf 0px solid; BORDER-LEFT: #dfdfdf 0px solid; LINE-HEIGHT: 30px; BORDER-BOTTOM: #dfdfdf 0px solid; BACKGROUND-COLOR: #68b2f1
}
UNKNOWN {
	BORDER-RIGHT: #dfdfdf 0px solid; BORDER-TOP: #dfdfdf 0px solid; FONT-SIZE: 12px; BORDER-LEFT: #dfdfdf 0px solid; COLOR: #fff; TEXT-INDENT: 2px; LINE-HEIGHT: 30px; BORDER-BOTTOM: #dfdfdf 0px solid; BACKGROUND-COLOR: #0f67b2
}
.syf1 {
	DISPLAY: block; WIDTH: 100px; CURSOR: hand; HEIGHT: 45px
}
.topmenu {
	FONT-SIZE: 14px; BACKGROUND: url(../images/index_r2_c4.jpg) repeat-x left top; COLOR: #fff; LETTER-SPACING: 2px
}
.topmenu A:link {
	COLOR: #fff
}
.topmenu A:visited {
	COLOR: #fff
}
.topmenu A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #fff
}
.topmenu A:active {
	COLOR: #fff
}
.sudy {
	OVERFLOW-Y: hidden; HEIGHT: 45px
}
DIV.scott {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.scott A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ddd 1px solid; COLOR: #4b7d3f; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
DIV.scott A:hover {
	BORDER-RIGHT: #85bd1e 1px solid; BORDER-TOP: #85bd1e 1px solid; BORDER-LEFT: #85bd1e 1px solid; COLOR: #638425; BORDER-BOTTOM: #85bd1e 1px solid; BACKGROUND-COLOR: #f1ffd6
}
DIV.scott A:active {
	BORDER-RIGHT: #85bd1e 1px solid; BORDER-TOP: #85bd1e 1px solid; BORDER-LEFT: #85bd1e 1px solid; COLOR: #638425; BORDER-BOTTOM: #85bd1e 1px solid; BACKGROUND-COLOR: #f1ffd6
}
DIV.scott SPAN.current {
	BORDER-RIGHT: #4b7d3f 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #4b7d3f 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #4b7d3f 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #4b7d3f 1px solid; BACKGROUND-COLOR: #4b7d3f
}
DIV.scott SPAN.disabled {
	BORDER-RIGHT: #f3f3f3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f3f3f3 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #f3f3f3 1px solid; COLOR: #ccc; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #f3f3f3 1px solid
}
.container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.container  {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.footsyf {
	BACKGROUND: url(../images/sybg.gif) no-repeat left top; LINE-HEIGHT: 22px; TEXT-ALIGN: center
}
.container {
	OVERFLOW: hidden; WIDTH: 184px; POSITION: relative; HEIGHT: 147px
}
.slider {
	POSITION: absolute
}
.slider LI {
	DISPLAY: inline; LIST-STYLE-TYPE: none
}
.slider IMG {
	DISPLAY: block; WIDTH: 184px; HEIGHT: 147px
}
.slider2 {
	WIDTH: 2000px
}
.slider2 LI {
	FLOAT: left
}
.syflink {
	FONT-WEIGHT: bold; WIDTH: 114px; CURSOR: hand; COLOR: #fff; HEIGHT: 18px; TEXT-ALIGN: center
}
.syflink A:link {
	COLOR: #fff
}
.syflink A:visited {
	COLOR: #fff
}
.num {
	RIGHT: 5px; BOTTOM: 5px; POSITION: absolute
}
.num LI {
	BORDER-RIGHT: #ff7300 1px solid; BORDER-TOP: #ff7300 1px solid; FONT-SIZE: 12px; FLOAT: left; MARGIN: 3px 1px; OVERFLOW: hidden; BORDER-LEFT: #ff7300 1px solid; WIDTH: 16px; CURSOR: pointer; COLOR: #ff7300; LINE-HEIGHT: 16px; BORDER-BOTTOM: #ff7300 1px solid; FONT-FAMILY: Arial; HEIGHT: 16px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.num LI.on {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 16px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 1px; WIDTH: 21px; COLOR: #fff; LINE-HEIGHT: 21px; HEIGHT: 21px; BACKGROUND-COLOR: #ff7300; BORDER-RIGHT-WIDTH: 0px
}
.dot {
	FONT-WEIGHT: bolder; FONT-SIZE: 20px; COLOR: #000
}
.boder2 {
	BORDER-RIGHT: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
.rightlist {
	PADDING-TOP: 7px
}
.title {
	FONT-WEIGHT: bolder
}
.fonttx {
	PADDING-LEFT: 40px; FONT-WEIGHT: bold; FONT-SIZE: 13px; WORD-SPACING: 3px; COLOR: #fff; LETTER-SPACING: 3px; TEXT-ALIGN: center
}
.leftmenubg {
	BACKGROUND: url(../images/index_r4_c21.jpg) repeat-y left top
}
.newshover {
	BACKGROUND-COLOR: #f6f5ee
}
.newslist TD {
	LINE-HEIGHT: 30px; BORDER-BOTTOM: #dfdfdf 1px solid
}
.mapboder {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
.mapxu {
	BORDER-BOTTOM: #ccc 1px dotted
}

.syfls {
	BORDER-RIGHT: #dddddd 1px solid
}
BODY {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: center 50%; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #fbf6e8; FONT-SIZE: 9pt;  PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #fbf6e8; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: "ו", Tahoma; SCROLLBAR-DARKSHADOW-COLOR: #fbf6e8; SCROLLBAR-BASE-COLOR: #f0f0f0; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TR {
	FONT-FAMILY: "ו", Tahoma; TEXT-ALIGN: left
}

IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}