<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--设置上传文件夹的最大可用空间(单位KB)-->
  <maxAllUploadSize>20480</maxAllUploadSize>
  <!--设置上传文件单个的最大尺寸(单位KB)-->
  <maxSingleUploadSize>1024</maxSingleUploadSize>
  <!--设置上传文件是否自动改名-->
  <autoname>false</autoname>
  <!--设置是否允许上传-->
  <allowUpload>true</allowUpload>
  <!--是否在上传界面启用水印选择的选项on为开启，off为关闭-->
  <watermarkOption>on</watermarkOption>
  <!--是否启用上传图片的文字水印-->
  <watermark>true</watermark>
  <!--开启文字水印后是否保留原件并新建副本,false为不新建,false以外的字符则新建副本,副本名称以该字符加原文件名命名-->
  <watermarkName>false</watermarkName>
  <!--设置水印文字-->
  <watermarkText>http://www.aspxcn.cn</watermarkText>
  <!--是否启用上传图片的图片水印-->
  <watermarkImages>false</watermarkImages>
  <!--开启图片水印后是否保留原件并新建副本,false为不新建,false以外的字符则新建副本,副本名称以该字符加原文件名命名-->
  <watermarkImagesName>false</watermarkImagesName>
  <!--设置图片水印所在的位置-->
  <watermarkImages_path>img/aspnet2.gif</watermarkImages_path>
  <!--是否启用缩略图-->
  <smallImages>false</smallImages>
  <!--开启缩略图后是否保留原件并新建副本,false为不新建,false以外的字符则新建副本,副本名称以该字符加原文件名命名-->
  <smallImagesName>false</smallImagesName>
  <!--缩略图缩放类型,HW:指定高宽缩放(可能变形)。W:指定宽，高按比例。H:指定高，宽按比例。Cut:指定高宽裁减(不变形)-->
  <smallImagesType>HW</smallImagesType>
  <!--缩略图宽度-->
  <smallImagesW>150</smallImagesW>
  <!--缩略图高度-->
  <smallImagesH>150</smallImagesH>
  <!--是否允许删除文件-->
  <delete>true</delete>
  <!--是否允许文件重命名-->
  <edit>true</edit>
  <!--是否显示文件列表-->
  <fileListBox>true</fileListBox>
  <!--上传文件功能可上传的文件类型-->
  <fileFilters>rar,zip,pdf,txt</fileFilters>
  <!--上传图片功能可上传的文件类型-->
  <imagesFilters>jpg,gif,png</imagesFilters>
  <!--上传自动播放文件功能可上传的文件类型-->
  <mediaFilters>wmv,rm,rmvb,asf,wma,mpg,mp3,swf,flv</mediaFilters>
  <!--上传模板功能可上传的文件类型-->
  <templateFilters>html,htm</templateFilters>
</configuration>