<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <maxAllUploadSize>10240</maxAllUploadSize>
  <maxSingleUploadSize>1024</maxSingleUploadSize>
  <autoname>false</autoname>
  <allowUpload>true</allowUpload>
  <watermarkOption>off</watermarkOption>
  <watermark>true</watermark>
  <watermarkName>W_</watermarkName>
  <watermarkText>http://www.aspxcn.cn</watermarkText>
  <watermarkImages>false</watermarkImages>
  <watermarkImagesName>false</watermarkImagesName>
  <watermarkImages_path>img/aspnet2.GIF</watermarkImages_path>
  <smallImages>false</smallImages>
  <smallImagesName>false</smallImagesName>
  <smallImagesType>HW</smallImagesType>
  <smallImagesW>150</smallImagesW>
  <smallImagesH>150</smallImagesH>
  <delete>true</delete>
  <edit>true</edit>
  <fileListBox>true</fileListBox>
  <fileFilters>rar,zip,pdf,txt</fileFilters>
  <imagesFilters>jpg,gif,png</imagesFilters>
  <mediaFilters>wmv,rm,rmvb,asf,wma,mpg,mp3,swf,flv</mediaFilters>
  <templateFilters>html,htm</templateFilters>
</configuration>